/* ---------- Estilos generales ---------- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0;             /* Texto gris claro */
    line-height: 1.6;
  }
  
  a {
    color: #90caf9; /* Celeste suave */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* ---------- Header ---------- */
  header {
    background-color: #1e1e1e;
    padding: 0px 0px;
    text-align: center;
    border-bottom: 1px solid #333;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  header p {
    font-size: 18px;
    color: #b0b0b0;
  }
  
  /* ---------- Navegación ---------- */
  nav {
    background-color: #1a1a1a;
    padding: 10px 0;
    border-bottom: 1px solid #333;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    font-weight: bold;
  }
  
  /* ---------- Main ---------- */
  main {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }
  
  #contacto{
    font-size: 25px;

  }
  article {
    flex: 2;
    padding-right: 40px;
  }
  
  article section {
    margin-bottom: 20px;
  }
  
  aside {
    flex: 1;
  }
  
  aside img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #444;
  }
  
  /* ---------- Footer ---------- */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #888;
    border-top: 1px solid #333;
  }
  





